.directory-widget {
    height: 100%;
    display: flex;

    /* Direction of the items, can be row or column */
    flex-direction: column;
}

.directory-header-title {
    padding-left: 5px;
    display: inline-block;
}

.directory-header-search {
    float:right;
    padding-right: 10px;
}

.icons{
    font-size:x-large;
}